.remark-slide-container {
    background: #F7F7F7;
}

body {
    font-family: 'Monospace';
    font-size: 1.8em;
    color: #222222;
}

a {
    color: #666666;
}

pre {
    white-space: pre-wrap;
}

h1 {
    font-size: 1.5em;
    color: #000000;
}


.progressjs-inner {
    height: 0.1em !important;
    background-color: #444444 !important;
}
